<div class="mainCon">
  <div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
       <div class="well profile">
            <div class="col-sm-12">
                <figure class="col-xs-12 profileImage">
                    <img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png" alt="" class="img-circle centered img-responsive">
                    <figcaption  class="col-xs-12 ratings">
                        <p>Ratings
                        <a href="#">
                            <span class="fa fa-star"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-star"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-star"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-star"></span>
                        </a>
                        <a href="#">
                             <span class="fa fa-star-o"></span>
                        </a> 
                        </p>
                    </figcaption>
                </figure>
                <div class="col-xs-12 col-sm-8">
                    <h2>Nicole Pearson</h2>
                    <p><h5>About: </h5> Web Designer / UI. </p>
                    <p><h5>Hobbies: </h5> Read, out with friends, listen to music, draw and learn new things. </p>
                    <p><h5>Brands: </h5>
                        <span class="btn btn-default">Louis Vuitton</span> 
                        <span class="btn btn-default">Prada</span>
                        <span class="btn btn-default">MM6</span>
                        <span class="btn btn-default">Basic</span>
                    </p>
                </div>             
                <div class="col-xs-12 col-sm-4 text-center">
                </div>
            </div>            
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong> 20,7K </strong></h2>                    
                    <p><small>Followers</small></p>
                    <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>245</strong></h2>                    
                    <p><small>Following</small></p>
                    <button class="btn btn-primary btn-block"><span class="fa fa-tag"></span> Request Items </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    {{!-- <h2><strong>43</strong></h2>                     --}}
                    <p><small></small></p>
                </div>
            </div>
       </div>                 
    </div>
  </div>
</div>
</div>